* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0b0b0f;
    color: #ffffff;
    line-height: 1.6;
}

header {
    min-height: 90vh;
    padding: 25px 8%;
    background: linear-gradient(135deg, #0b0b0f, #17172a);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 28px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    max-width: 750px;
    margin-top: 150px;
}

.small-text {
    letter-spacing: 3px;
    font-size: 13px;
    color: #aaa;
}

.hero h1 {
    font-size: 60px;
    margin: 15px 0;
}

.hero h1 span {
    color: #7c5cff;
}

.hero p {
    font-size: 19px;
    color: #bbb;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    padding: 13px 24px;
    background: #7c5cff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 70px 20px;
}

section {
    margin-bottom: 80px;
}

section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

section p {
    color: #bdbdbd;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.skills div,
.project {
    background: #15151d;
    border: 1px solid #292936;
    padding: 25px;
    border-radius: 12px;
}

.project h3 {
    margin-bottom: 10px;
}

.project span {
    display: inline-block;
    margin-top: 15px;
    color: #7c5cff;
}

footer {
    text-align: center;
    padding: 30px;
    background: #07070a;
    color: #777;
}

@media (max-width: 600px) {

    .hero {
        margin-top: 100px;
    }

    .hero h1 {
        font-size: 42px;
    }

    .skills {
        grid-template-columns: 1fr;
    }
}
#about {
  max-width: 700px;
  margin: 80px auto;
  text-align: center;
  padding: 20px;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#about p {
  color: #bfbfbf;
  line-height: 1.8;
  margin-bottom: 15px;
}

.small-text {
  color: #8b5cf6;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.avatar {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto 30px;
  border-radius: 50%;
  border: 4px solid #8b5cf6;
      }
.skill {
    margin: 25px 0;
}

.skill p {
    margin-bottom: 8px;
    font-weight: bold;
}

.bar {
    width: 100%;
    height: 12px;
    background: #333;
    border-radius: 20px;
    overflow: hidden;
}

.fill {
    height: 100%;
    background: #8b5cf6;
    border-radius: 20px;
}

.html {
    width: 80%;
}

.css {
    width: 60%;
}

.video {
    width: 75%;
}
